#__extensionChooser {
  margin-right: auto;
}

#__modalButton {
  position: absolute;
  margin-top: -30px;
  right: 40px;
}

#version {
  color: #ffffff;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 3px 8px;
}

.__modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 10px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.__modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 97%;
  overflow: auto;
}

/* The Close Button */

.__close {
  color: #aaaaaa;
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  z-index: 999;
}

.__close:hover,
.__close:focus {
  color: #000;
  text-decoration: none;
}

.__animateBottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#__testResults {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

#__testResults span {
  white-space: pre-line;
}

#__orgContent.CoveoSearchInterface .coveo-results-column {
  width: auto;
}

#__orgContent.CoveoSearchInterface .coveo-search-section {
  margin-top: 20px;
}

#__parametersForTest.ParametersJson textarea {
  font-family: source_code_pro_regular, 'Courier New', Courier, monospace;
  font-size: 14px;
  min-height: 200px;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

#__contentModal .tab-pane .CoveoResult {
  margin: 0;
}

#__contentModal .tab-pane .CoveoResult:last-child {
  margin-bottom: 20px;
}

#__contentModal .tab-pane .CoveoFieldValue.coveo-with-label {
  border: 1px solid silver;
  font-size: 12px;
  margin: 3px 3px 0 0;
  padding: 3px 6px;
}

#__contentModal .tab-pane .CoveoFieldValue.coveo-with-label {
  border: 1px solid silver;
  font-size: 12px;
  margin: 3px;
  padding: 3px 6px;
}

#__no-support-warning {
  position: fixed;
  bottom: 80px;
  left: 200px;
  padding: 10px 40px 30px 10px;
  z-index: 99;
}

#__no-support-warning .icon {
  vertical-align: -1em;
  margin-top: -2px;
}
