.CoveoParameterList {
  margin: 10px 0 30px 0;
}

.CoveoParameterList .row {
  display: flex;
}

.CoveoParameterList .row.input-field.multiline-field {
  margin-right: 25px;
}

.CoveoParameterList .m7 {
  width: 70%;
}

.CoveoParameterList .m3 {
  width: 30%;
}

.CoveoParameterList .col {
  padding: 0 5px;
}

.CoveoParameterList .multiline-field .input-actions {
  top: 20px;
  right: -30px;
}

.CoveoParameterList button.btn.spaced-box {
  margin-left: 0;
}